src/Tests/TestApplication/TestApplication/Service References/LegacyBasicHttpServiceReference/BasicHttpService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:50506/BasicHttpService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:50506/BasicHttpService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50506/BasicHttpService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BasicHttpService_GetTestString_InputMessage">
    <wsdl:part name="parameters" element="GetTestString" />
  </wsdl:message>
  <wsdl:message name="BasicHttpService_GetTestString_OutputMessage">
    <wsdl:part name="parameters" element="GetTestStringResponse" />
  </wsdl:message>
  <wsdl:message name="BasicHttpService_Echo_InputMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/Message" name="message" type="q1:MessageBody" />
  </wsdl:message>
  <wsdl:message name="BasicHttpService_Echo_OutputMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/Message" name="EchoResult" type="q2:MessageBody" />
  </wsdl:message>
  <wsdl:portType name="BasicHttpService">
    <wsdl:operation name="GetTestString">
      <wsdl:input wsaw:Action="urn:BasicHttpService/GetTestString" message="BasicHttpService_GetTestString_InputMessage" />
      <wsdl:output wsaw:Action="urn:BasicHttpService/GetTestStringResponse" message="BasicHttpService_GetTestString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <wsdl:input wsaw:Action="urn:BasicHttpService/Echo" message="BasicHttpService_Echo_InputMessage" />
      <wsdl:output wsaw:Action="urn:BasicHttpService/EchoResponse" message="BasicHttpService_Echo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>